In [7]:
import pandas as pd

## 卒業生の進路

In [10]:
graduates = pd.read_csv("data/graduates.csv")
graduates.head()

,大分類,小分類,就職,大学院進学,留学・ その他進学,公務員・教員・資 格・再受験,大学院等への進 学準備,その他,不明者,合計 （卒業者）
0,学部,文科系,"4,363",227,43,164,21,147,244,"5,209"
1,学部,理工系,420,560,5,14,3,10,2,"1,014"
2,学部,小計,"4,783",787,48,178,24,157,246,"6,223"
3,大学院,文科系,157,52,4,68,2,39,47,369
4,大学院,理工系,413,21,0,4,0,7,1,446